@import '../../assets/var.less';

// @white_color: #ffffff;

.login_model {
  // background: url('../../assets/image/bg.jpg');
  background: @main_color;
  width: 100%;
  height: 100%;
  padding-top: 3rem;
  .login_box{
    padding: 20px;
    border-radius: 4px;
    background-color: @white_color;
    width: 500px;
    height: 200px;
    margin: auto;
    .loginBtn{
      margin: 0 auto;
    }
    .ant-input{
      margin-bottom: 20px;
    }
  }
}